# Зависимости для тестирования API с использованием pytest и requests
# Файл создан для тестового задания по автоматизации тестирования

pytest==8.3.3           # Фреймворк для написания и запуска тестов
requests==2.32.3        # Библиотека для выполнения HTTP-запросов
